{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-keys": 2,
    "no-empty": 2,
    "no-empty-class": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-invalid-regexp": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "comma-dangle": 2,
    "use-isnan": 2,
    "valid-jsdoc": [2, {
      "prefer": {
        "returns": "return"
      },
      "requireParamDescription": false
    }],
    "valid-typeof": 2,
    "block-scoped-var": 2,
    "complexity": 2,
    "curly": 2,
    "dot-notation": 2,
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-iterator": 2,
    "no-loop-func": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "radix": 2,
    "wrap-iife": [2, "inside"],
    "no-extra-strict": 2,
    "strict": 2,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,
    "handle-callback-err": 2,
    "no-path-concat": 2,
    "no-mixed-requires": 2,
    "no-sync": 2,
    "camelcase": 0,
    "brace-style": 2,
    "consistent-this": [2, "self"],
    "new-cap": 2,
    "no-underscore-dangle": false,
    "new-parens": 2,
    "no-array-constructor": 2,
    "no-new-object": 2,
    "no-spaced-func": 2,
    "no-space-before-semi": 2,
    "quotes": [2, "single"],
    "space-in-brackets": [2, "never"],
    "space-infix-ops": 2,
    "space-return-throw-case": 2,
    "max-nested-callbacks": [2, 3],
    "max-len": [1, 100, 2],
    "max-params": [2, 8]
  }
}
